<header>
  <div class="header-strip">
    <div class="header-strip-wrapper">
    <div class="container">
      <div class="row">
        <div class="col-md-offset-6 col-md-6">
          <div class="col-md-8">
            <div class="header-strip__contact">              
              <a href="tel:+919941269019"><i class="fa fa-mobile" aria-hidden="true"></i> +91-9941269019</a>
              <span>/</span>
              <a href="tel:04432450700"><i class="fa fa-phone" aria-hidden="true"></i> 044-32450700</a>
            </div>
          </div>
          <div class="col-md-4">
            <div class="header-strip__email">              
              <a href="mailto:info@phoenixtax.in?cc=jai@phoenixtax.in.in"><i class="fa fa-envelope" aria-hidden="true"></i> info@phoenixtax.in</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>
  </div>
  <div class="header-nav">
    <!--Logo section-->
    <div class="col-md-4">
      <div class="header-nav__logo">
        <figure><img class="header-nav__logo__img img-responsive" src="../assets/img/logo.png" alt="Phoenix Tax Logo"></figure>
      </div>
    </div>
    <!--Menu item-->
    <div class="col-md-6">
      <div class="header-nav__menu">
        <ul class="header-nav__menu__list">
          <li><a class="active" routerLink="/">Home</a></li>
          <li><a routerLink="about">About</a></li>
          <li><a routerLink="gst">GST</a></li>
          <li class="dropdown"><a href="#">Services <i class="fa fa-caret-down"></i></a>
            <ul class="dropdown__menu card">
              <li class="dropdown__menu__list"><a href="#">Start a New Company <i class="fa fa-caret-right pull-right"></i></a>
                <ul class="dropdown__menu__list__submenu card">
                  <li><a href="#">PAN / TAN</a></li>
                  <li><a href="">Partnership Firm</a></li>
                  <li><a href="">Incorporation Pvt. Ltd.</a></li>
                </ul>
              </li>
              <li class="dropdown__menu__list"><a href="#">Tax Return <i class="fa fa-caret-right pull-right"></i></a>
                <ul class="dropdown__menu__list__submenu card">
                  <li><a href="#">Income Tax Return</a></li>
                  <li><a href="">TDS Return</a></li>
                  <li><a href="">ESI Return</a></li>
                  <li><a href="">EPF Return</a></li>
                </ul>
              </li>
              <li class="dropdown__menu__list"><a href="#">Auditors Report <i class="fa fa-caret-right pull-right"></i></a>
                <ul class="dropdown__menu__list__submenu card">
                  <li><a href="#">Bankers Certificate</a></li>
                  <li><a href="">Networth Certificate</a></li>
                  <li><a href="">Provisional Balance Sheet</a></li>
                  <li><a href="">Projection Report</a></li>
                  <li><a href="">Business Profile</a></li>
                </ul>
              </li>
            </ul>
          </li>
          <li><a routerLink="accounts">Accounts</a></li>
          <li><a routerLink="review">Reviews</a></li>          
          <li><a routerLink="contact">Contact</a></li>
        </ul>
      </div>
    </div>
    <!--Social links-->
    <div class="col-md-2">
      <div class="header-nav__social-icons">
        <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
        <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
        <a href="#" class="google-plus"><i class="fa fa-google-plus"></i></a>
      </div>
    </div>
  </div>
</header>

