<div style="height:500px;"></div>

<!--footer section started-->
<footer>
  <div class="footer-phnx">
    <div class="container">
      <div class="row">
        <div class="col-xs-6 col-sm-4 col-md-3 footer-phnx-li">
          <div class="footer-phnx-head">Income Tax Services</div>
          <ul>
            <li><i class="fa fa-caret-right"></i><a href="start-new-company">Start New Company</a></li>
            <li><i class="fa fa-caret-right"></i><a href="#">Tax Registration</a></li>
            <li><i class="fa fa-caret-right"></i><a href="tax-return">Tax Return</a></li>
            <li><i class="fa fa-caret-right"></i><a href="auditors">Auditors Report</a></li>
            <li><i class="fa fa-caret-right"></i><a href="accounts">Accounts</a></li>
          </ul>
        </div>

        <div class="col-xs-6 col-sm-4 col-md-3 footer-phnx-li">
          <div class="footer-phnx-head">Start New Company</div>
          <ul>
            <li><i class="fa fa-caret-right"></i><a href="pan-tan">PAN / TAN</a></li>
            <li><i class="fa fa-caret-right"></i><a href="ssi-registration">SSI Registration</a></li>
            <li><i class="fa fa-caret-right"></i><a href="vat-registration">VAT Registration (Sales Tax)</a></li>
            <li><i class="fa fa-caret-right"></i><a href="service-tax-registration.">Service Tax Registration</a></li>
            <li><i class="fa fa-caret-right"></i><a href="incorporation">Incorporation (Pvt. Ltd.)</a></li>
            <li><i class="fa fa-caret-right"></i><a href="partnership-firm">Partnership Firm Registration</a></li>
            <li><i class="fa fa-caret-right"></i><a href="esi-registration">ESI Registration</a></li>
            <li><i class="fa fa-caret-right"></i><a href="pf-registration">PF Registration</a></li>
            <li><i class="fa fa-caret-right"></i><a href="ie-code">IE Code Registration</a></li>
          </ul>
        </div>

        <div class="col-xs-6 col-sm-4 col-md-3 footer-phnx-li">
          <div class="footer-phnx-head">Tax Return Services</div>
          <ul>
            <li><i class="fa fa-caret-right"></i><a href="income-tax-return">Income Tax Return</a></li>
            <li><i class="fa fa-caret-right"></i><a href="vat-return">VAT Return</a></li>
            <li><i class="fa fa-caret-right"></i><a href="service-tax-return">Service Tax Return</a></li>
            <li><i class="fa fa-caret-right"></i><a href="tds-return">TDS Return</a></li>
            <li><i class="fa fa-caret-right"></i><a href="esi-return">ESI Return</a></li>
            <li><i class="fa fa-caret-right"></i><a href="epf-return">EPF Return</a></li>
          </ul>
        </div>

        <div class="col-xs-6 col-sm-4 col-md-3 footer-phnx-li">
          <div class="footer-phnx-head">Auditors Report</div>
          <ul>
            <li><i class="fa fa-caret-right"></i><a href="bankers-certificate">Bankers Certificate</a></li>
            <li><i class="fa fa-caret-right"></i><a href="net-certificate">Networth Certificate</a></li>
            <li><i class="fa fa-caret-right"></i><a href="pov-balance">Provisional Balance Sheet</a></li>
            <li><i class="fa fa-caret-right"></i><a href="pro-report">Projection Report</a></li>
            <li><i class="fa fa-caret-right"></i><a href="business-profile">Business Profile</a></li>
          </ul>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-6 col-sm-4 col-md-3 footer-phnx-li">
          <div class="footer-phnx-head">Accounts</div>
          <ul>
            <li><i class="fa fa-caret-right"></i><a href="day-book">Day Book</a></li>
            <li><i class="fa fa-caret-right"></i><a href="petty-cash-book">Petty Cash Book</a></li>
            <li><i class="fa fa-caret-right"></i><a href="journals">Journals</a></li>
            <li><i class="fa fa-caret-right"></i><a href="ledgers">Ledgers</a></li>
            <li><i class="fa fa-caret-right"></i><a href="balance-sheet">Balance Sheet</a></li>
          </ul>
        </div>

        <div class="col-xs-6 col-sm-4 col-md-3 footer-phnx-li">
          <div class="footer-phnx-head">About Us</div>
          <ul>
            <li><i class="fa fa-caret-right"></i><a href="#">Why Phoenix Tax</a></li>
            <li><i class="fa fa-caret-right"></i><a href="#">Our Legacy</a></li>
            <li><i class="fa fa-caret-right"></i><a href="#">MD's Desk</a></li>
            <li><i class="fa fa-caret-right"></i><a href="#">Data Privacy</a></li>
            <li><i class="fa fa-caret-right"></i><a href="#">Subscribe To Our Newsletter</a></li>
          </ul>
        </div>
        <div class="col-xs-6 col-sm-4 col-md-3 footer-phnx-li">
          <div class="footer-phnx-head">Careers</div>
          <ul>
            <li><i class="fa fa-caret-right"></i><a href="#">Why Join Phoenix Tax</a></li>
            <li><i class="fa fa-caret-right"></i><a href="#">Life At Phoenix Tax</a></li>
            <li><i class="fa fa-caret-right"></i><a href="#">Job Vacancies</a></li>
          </ul>
        </div>
        <div class="col-xs-6 col-sm-4 col-md-3 footer-phnx-li">
          <div class="footer-phnx-head">Contact Us</div>
          <ul>
            <li><i class="fa fa-caret-right"></i><a href="#contact-now">Send An Enquiry</a></li>
            <li><i class="fa fa-caret-right"></i><a href="contact">Locate An Office</a></li>
          </ul>
        </div>
      </div>
    </div>


    <hr>
    <div class="container-fluid">
      <div class="row">
        <div class="col-xs-6 col-md-6 copyright-phnx">
          © 2017 Phoenix Tax Services Private Limited. All Rights Reserved.
        </div>
        <div class="col-xs-6 col-md-6 powered-by"><a href="http://imjayabal.com" target="_blank">Designed &amp; Developed : www.imjayabal.com/</a></div>
      </div>
    </div>
    <br>
  </div>

  <div style="height:50px;"></div>

</footer>
